{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AICVS About</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="/static/img/logo.jpg">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about-bg1.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <center>
        <h2>ABOUT THE CLUB</h2>
        <br>
        <br>
        <h4>Artificial Intelligence and Computer Vision Society</h4>
        <p>Artificial Intelligence is taking the technology world by storm right now. ​It is one of the most marketable skills an engineer/scientist can have and has a wide inter-disciplinary appeal. Today, we are very excited to announce the Artificial Intelligence and Computer Vision Society in our college to impart knowledge and expertise about this very interesting topic.
        <p>What are the pre-requisites?  Nothing. 
        We don't expect anything from our members but an enthusiasm to learn and dedication to put in effort. As we will starting from the very basics, we encourage students from all branches to be part of this initiative. No prior coding experience is required as we will be developing it as we move forward.</p>
        <p>
        We would be conducting various practical workshops, guest lectures, seminars and hackathons that all the members can be a part of. We are floating the document below to gauge the interest so we can scale our events and training sessions accordingly.</p>
        <br>
        <br>
        <h4>Why Deep Learning and Computer Vision</h4>
        <p>Deep Learning is a fantastic tool that is transforming multiple fields and is soon going to be an industrial requirement.
​        Deep Learning allows for major advancements in Computer Vision, Natural Language Processing and         Artificial Intelligence and is one of the most exciting and fast growing industries at the moment. </p>
        <br>
        <br>
        <h4>What We Wish To Achieve</h4>
        <p>We as a club, wish to introduce the students to techniques of AI and Computer Vision. We aim to equip them with a primary skill set in Deep Learning and the knowledge to implement various algorithms and gain a good understanding of what happens behind the scenes.</p>
        <br>
        <br>
        <h4>College</h4>
        <p>Cummins College of Engineering for Women (CCOEW) comes under the umbrella of its parent institution, Maharshi Karve Stree Shikshan Samstha (MKSSS). Cummins College is the first all women engineering college in India established in the year 1991 with support from Cummins Diesel (India) Foundation. It is located in Pune, Maharashtra State and is well known as ‘Oxford of the East’ with strong Computer, IT, Mechanical, Automobile and Electronics industry hub. The first undergraduate batch of CCEW passed out in July 1995, coinciding with the centenary of its parent institution.<br>
CCEW is recognized for its rigor in academics and dedicated faculty, successful alumnae being its outcome.<br> CCEW has a strong association with the industry and is recognized for providing quality recruits for the industry.</p>
        <br>
        <br>
        <h6>Contact Information:</h6>
        <p>MKSSS’s Cummins College of Engineering for Women,<br>
Karvenagar, Pune – 411052<br>
Email : principal@cumminscollege.org<br>
College Contact No : 020- 25311000, 25477211<br>
Fax No. : 25311499<br>
Office Timings : 9.30 to 5.15 | 2nd & 4th Saturday Holiday<br>
College Email : administrator@cumminscollege.in</p>
        <br>
        <br>
        </center>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
     <!-- <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>-->
       <p class="copyright text-muted">Copyright &copy; AICVS Cummins 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>
