{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AICVS Cummins</title>

  <!-- Bootstrap core CSS -->
  <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{%  static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <style type="text/css">
  html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 30px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:100%;
}

.card img{
  
  height:100%
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
</style>

  <!-- Custom styles for this template -->
  <link href="{%  static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <script src="{%  static 'js/particle.js' %}"></script>
</head>

<body >

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">
      	<img src="/static/img/logo.jpg">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about-footer.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>AICVS</h1>
            <span class="subheading">
              <h2>
            Artificial Intelligence and Computer Vision Society
          </h2>
          </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <!--
  <header style="background:    #FF4500; width:100%; height: 10%" >

  <div class="container" id="particles-js" >
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <div class="site-heading" style="text-decoration-color: white; color:#fff;">
           <h1 style="color:#fff; ">AICVS
               <span class="wrap"></span>
            </h1>
            <h3 style="color:#fff; ">
              <a href="" class="typewrite"  data-period="1000" data-type='[ "Artificial Intelligence and Computer Vision Society"]' style="color:#fff; ">
               <span class="wrap"></span>
              </a>
            </h3>
            <br>
            <br>
            <br>
        <br>
      </div>
    </div>
  </div>
</header>
 
 
   
 
        
        <div style="background-image: url('/static/img/home3.jpg');  background-position: center; background-size:cover; background-repeat: no-repeat;  ">
            <center>
            <div class="site-heading" style="text-decoration-color: white; color:#fff;padding: 200px 0 150px;">
            <h1 style="color:#fff; ">AICVS
               <span class="wrap"></span>
            </h1>
            <h3 style="color:#fff; ">
              <a href="" class="typewrite"  data-period="1000" data-type='[ "Artificial Intelligence and Computer Vision Society"]' style="color:#fff; ">
               <span class="wrap"></span>
              </a>
            </h3>
            <div>
          </center>
            <br>
            <br>
            <br>
        <br>
</div> 
  
-->
  <!-- Pager 
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>-->
<!--
        <div class="container">
  <br>
<br>
    <center>
      <h2>UPCOMING EVENTS</h2>
    </center>
    <br>
    <br>
  </div>
   -->    
 <div class="container">
  <br>
<br>
    <center>
      <h2>EVENTS 2019-2020</h2>
    </center>
    <br>
    <br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/img/events/22-2-2020.jpeg" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/25-1-2020.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/12-1-2020.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Competition</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  
 <div class="row">
 <div class="column">
    <div class="card">
      <img src="/static/img/events/11-1-2020.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/18-10-2019.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>OCTOBERFEST</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/static/img/events/6-10-2019.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Competition</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/img/events/14-9-2019.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Competition</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="/static/img/events/7-9-2019.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

</div>
</div>
<div class="container">
  <br>
  <br>

    <center>
      <h2>EVENTS 2018-2019</h2>
    </center>
    <br>
    <br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/img/events/16-2-2019.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/20-10-2018.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/13-10-2018.jpg" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  
 <div class="row">
 <div class="column">
    <div class="card">
      <img src="/static/img/events/1-9-2018.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/img/events/4-8-2018.png" alt="Michelle" style="width:100%">
      <div class="container">
        <h2>Session</h2>
        <p class="title"><b></b></p>
      </div>
    </div>
  </div>
 </div>
</div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://instagram.com/aicvs?igshid=fxb2oovrbdcp">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; AICVS Cummins 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{%  static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%  static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{%  static 'js/clean-blog.min.js' %}"></script>
  <script src="{%  static 'js/type.js' %}"></script>
 
</body>

</html>
